@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,500&display=swap');


html {
    height: 100%;
}

body {
    background: rgb(0, 0, 0);
    background-size: cover;
    /*height: calc(100vh - 164px);*/
    color: rgb(253, 253, 253);
    font-family: 'Montserrat', sans-serif;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-header {
    background-color: black;
    color: #f2c94c! important;
}

.main-logo-link {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
    text-transform: lowercase! important;
    color: blanchedalmond! important;
}


.nav-link {
    text-transform: uppercase;
    color: #f2c94c;
}

.landing-image {
    opacity: 0.4;
}


.landing-container {
    margin: 0;
    height: 60% !important;
    width: 100%;
}

.landing-link {
    text-decoration: none;
    color: #f2c94c! important;
}

.icon {
    color: #f2c94c;
}

.info-container {
    background-color: black;
}

.info-style {
    padding: 30px;
    font-weight: 300;
}

.team-photo {
    padding: 1.25rem;
    align-items: center;
}

.footer-style {
    background-color: rgb(255, 255, 255);
    color: black;
}

.footer-logo-link {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
    text-transform: lowercase! important;
    color: rgb(0, 0, 0)! important;
}

.products-page {
    color: black;
    padding-top: 3.5rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: whitesmoke;
    z-index: -1;
}

.allauth-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(0, 0, 0);
    z-index: -1;
}

.allauth-form-inner-content {
    color: #f8f9fa;
}

.footer-icon {
    color: black;
}

/* https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
footer{
    margin-top: auto;
}

.card {
    width: 300px !important;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

.card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.detail-wrapper {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.in-stock {
    color: green;
}

.out-stock {
    color: red;
}

.product-shipping {
    color: grey;
    font-weight: 200;
}

.padding {
    padding-top: inherit;
    padding-bottom: 20px;
}

.product-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.text-right {
    text-align: end;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow: hidden;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.card-img {
    height: 200px;
    object-fit: cover;
}

.blog-card {
    width: auto! important;
}

.modal {
    z-index: 9999999999;
}

.modal-backdrop.show {
    z-index: auto;
}

.custom-select {
    width: 100%;
    font-size: large;
}

.logo-font {
    font-family: 'Comfortaa', sans-serif;
    
    text-transform: lowercase! important;
}

.font-weight-light {
    font-weight: 300;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: rgb(255, 255, 255);
}

.uppercase {
    text-transform: uppercase;
}

.padding-top {
    padding-top: 15px;
}

.btn-light {
    background-color: #f2c94c! important;
}

.font-small {
    font-size: smaller;
}

.no-text-dec {
    text-decoration: none;
}

.btn-black {
    background-color: black;
    color: #f2c94c;
}

.text-info {
    color: #f2c94c! important;
}

.profile-page {
    padding-bottom: 150px;
}