html {
    height: 100%;
}

body {
    background: #555
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.nav-header {
    background-color: rgb(26, 25, 25);
}

.landing-image {
    background: url('/media/landing.jpg') no-repeat center center;
    background-size: cover;
}

.landing-container {
    margin: 0;
    height: 60% !important;
    width: 100%;
}