html {
    height: 100%;
}

body {
    background: #555;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.nav-header {
    background-color: rgb(26, 25, 25);
}

.landing-image {
    background: url('/media/landing.jpg') no-repeat center center;
    background-size: cover;
}

.landing-container {
    margin: 0;
    height: 60% !important;
    width: 100%;
}

.icon {
    color: yellow;
}

.info-container {
    background-color: black;
}

.team-photo {
    padding: 1.25rem;
    max-width: 90%;
}

.footer-style {
    background-color: aliceblue;
}

.products-page {
    color: black;
    padding-top: 3.5rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: beige;
    z-index: -1;
}

.card {
    width: 300px !important;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}

.card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.detail-wrapper {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.in-stock {
    color: green;
}

.out-stock {
    color: red;
}