{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid px-4 products-page">
        <div class="row gx-5">
            <div class="col-6 p-3 my-auto">
                <h3>Welcome to the Kafe Analog Club</h3>
                <p>Here you'll find our ltest reviews, news and interesting pieces. All curated specially for our club members.</p>
            </div>
        </div>
        <div class="row">
            {% for blog in blog %}
            
                <div class="col-12 col-md-6">
                    <div class="card blog-card bg-dark text-black">
                        {% if blog.image %}
                        <img class="card-img" src="{{ blog.image.url }}" alt="Card image">
                        {% else %}
                        <img class="card-img" src="{{ MEDIA_URL }}noimage.png" alt="Card image">
                        {% endif %}
                        
                        <div class="card-img-overlay">
                          <h5 class="card-title">{{ blog.blog_title }}</h5>
                          
                        </div>
                      </div>
                </div> 
            {% endfor %}
            
        </div>
        
    </div>

{% endblock %}


<!--{% if blog.image %}
                        <img class="card-img" src="{{ blog.image.url }}" alt="Card image">
                        {% else %}
                        <img class="card-img" src="{{ MEDIA_URL }}noimage.png" alt="Card image">
                        {% endif %}