{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta%}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <!-- STRIPE -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Kafe Analog {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
      <header class="container-fluid fixed-top nav-header">
        <div id="topnav" class="row d-md-flex d-none d-md-block">
          <div class="col-12 col-sm-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
              <li class="list-inline-item"><a href="{% url 'products' %}?category=vinyl" class="nav-link">Vinyl</a></li>
              <li class="list-inline-item"><a href="{% url 'products' %}?category=coffee" class="nav-link">Coffee</a></li>
              <li class="list-inline-item"><a href="{% url 'blog' %}" class="nav-link">Club</a></li>
          </ul>
          </div>
          <div class="d-sm-none d-md-block col-12 col-sm-4 my-auto py-1 py-lg-0">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
              <h2 class="logo-font my-0">Kafe Analog<strong>.</strong></h2>
            </a>
          </div>
          
          <div class="col my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
              <li class="list-inline-item dropdown">
                <div class="dropdown">
                  <button class="btn" type="button" id="user-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="far fa-user icon"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="user-dropdown">
                    {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                        <li><a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                        <li><a href="{% url 'add_blog' %}" class="dropdown-item">Blog Management</a></li>
                      {% endif %}
                      <li><a href="{% url 'profile' %}">Profile</a></li>
                      <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                      <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                      <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                    {% endif %}
                  </ul>
                </div>
              </li>
              <!-- FIX NEEDED TO ONLY SHOW ITEMS ADDED TO CART NOT COST, FIX TO WAY CALCULATED N.N.B -->
              <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                  <div class="text-center">
                      <div><i class="fas fa-shopping-basket icon"></i></div>
                      <p class="my-0">
                          {% if grand_total %}
                              €{{ grand_total|floatformat:2 }}
                          {% else %}
                              
                          {% endif %}
                      </p>
                  </div>
              </a>
              </li>
              <li class="list-inline-item">
                <!-- Button trigger modal -->
                  <button class="btn" type="button" id="modal" data-bs-toggle="modal" aria-expanded="false" data-bs-target="modal">
                    <i class="fas fa-search icon"></i>
                  </button>

                  <!-- Modal -->
                  <div class="modal" id="searchmodal" tabindex="9999" aria-labelledby="searchmodallabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel">Search our collection</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search for you favourite artists, genres or coffee!">
                                <button class="btn" type="submit"><i class="fas fa-search icon"></i></button>
                                
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
        
        <nav class="navbar navbar-expand-lg navbar-dark d-none d-sm-block d-md-none">
          <div class="container-fluid ">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
              <h2 class="logo-font my-0">Kafe Analog<strong>.</strong></h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-list">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'products' %}?category=vinyl">Vinyl</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'products' %}?category=coffee">Coffee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog' %}">Club</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                        <li><a href="{% url 'add_product' %}" class="nav-link">Product Management</a></li>
                        <li><a href="{% url 'add_blog' %}" class="nav-link">Blog Management</a></li>
                      {% endif %}
                      <li><a href="{% url 'profile' %}" class="nav-link">Profile</a></li>
                      <li><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>
                    {% else %}
                      <li><a href="{% url 'account_signup' %}" class="nav-link">Register</a></li>
                      <li><a href="{% url 'account_login' %}" class="nav-link">Login</a></li>
                    {% endif %}
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_bag' %}">
                    Your Cart
                  </a>
                </li>
                <li class="nav-item">
                  <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <button class="btn" type="submit"><i class="fas fa-search icon"></i></button>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-dark d-block d-sm-none">
          <div class="container-fluid ">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
              <h2 class="logo-font my-0">Kafe Analog<strong>.</strong></h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-list-mobile">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'products' %}?category=vinyl">Vinyl</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'products' %}?category=coffee">Coffee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog' %}">Club</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                        <li><a href="{% url 'add_product' %}" class="nav-link">Product Management</a></li>
                        <li><a href="{% url 'add_blog' %}" class="nav-link">Blog Management</a></li>
                      {% endif %}
                      <li><a href="{% url 'profile' %}" class="nav-link">Profile</a></li>
                      <li><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>
                    {% else %}
                      <li><a href="{% url 'account_signup' %}" class="nav-link">Register</a></li>
                      <li><a href="{% url 'account_login' %}" class="nav-link">Login</a></li>
                    {% endif %}
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_bag' %}">
                    Your Cart
                  </a>
                </li>
                <li class="nav-item">
                  <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <button class="btn" type="submit"><i class="fas fa-search icon"></i></button>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        
      </header>
    
        {% if messages %}
        <div class="message-container">
          {% for message in messages %}
              {% with message.level as level %}
                  {% if level == 40 %}
                      {% include 'includes/toasts/toast_error.html' %}
                  {% elif level == 30 %}
                      {% include 'includes/toasts/toast_warning.html' %}
                  {% elif level == 25 %}
                      {% include 'includes/toasts/toast_success.html' %}
                  {% else %}
                      {% include 'includes/toasts/toast_info.html' %}
                  {% endif %}
              {% endwith %}
          {% endfor %}
        </div>
        {% endif %}
    
        {% block page_header %}
        {% endblock %}

        <div>
        {% block content %}
        {% endblock %}
        </div>

        {% block postloadjs %}
        <script type="text/javascript">
        // The code below is taken from Richard Ash of CI on SLACK for the initialisation of toasts in Bootstrap5 //
          let toastElList = [].slice.call(document.querySelectorAll('.toast'))
          let toastList = toastElList.map(function (toastEl) {
          let option = {
              animation: true,
              autohide: true,
              delay: 5000,
          }
          let bsToast = new bootstrap.Toast(toastEl, option)
          bsToast.show();
          })

          var myModal = document.getElementById('myModal')
          var myInput = document.getElementById('myInput')

          myModal.addEventListener('shown.bs.modal', function () {
          myInput.focus()
          })
        </script>
        {% endblock %}

        <footer>
          <div class="info-container h-50">
            <div class="row h-100">
                <div class="col-12 col-md-6 info-style">
                    <h3 class="info-title">
                        Who we are?
                    </h3>
                    <p>
                        The team at Kafe Analog are Cathal, Robert and Iarla.  
                        They established Kafe Analog in 2013 when a combined love of vinyl and coffee started their adventure.
                        We are determined to create an easy to use platform for everyone to enjoy good music and great tasting coffee.
                    </p>
                    <h3 class="info-title"> 
                        Where to find us!
                    </h3>
                    <p>
                        24 Bolton St <br>
                        Dublin 57 <br>
                        Co. Dublin<br>
                        Ireland
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="team-photo">
                        <img src="{{ MEDIA_URL }}disruptivo-G9nuywoBMcc-unsplash.jpg" class="img-fluid" alt="team photo indoors">
                    </div>
                </div>
            </div>
        </div>
          <header class="container-fluid footer-style">
            <div class="row">
              <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link footer-logo-link text-black">
                  <h2 class="logo-font my-0">Kafe Analog<strong>.</strong></h2>
                </a>
              </div>
              <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                  <li class="list-inline-item"><a class="footer-icon" href="https://www.instagram.com/"><i class="fab fa-lg fa-instagram"></i></a></li>
                  <li class="list-inline-item"></li>
                  <li class="list-inline-item"><a class="footer-icon" href="https://www.facebook.com/"><i class="fab fa-lg fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"></li>
                  <li class="list-inline-item"><a class="footer-icon" href="https://www.twitter.com/"><i class="fab fa-lg fa-twitter"></i></a></li>
                </ul>
              </div>
              
              <div class="col-12 col-lg-4 text-black my-auto py-1 py-lg-0">
                Copyright Info  
              </div>
            </div>
          </header>
        </footer>
  </body>
</html>