{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-3 my-auto">
                <h4>Here is our vinyl:</h4>
                {{ vinyls }}
                
            </div>
            <div class="col-3 my-auto">
                <h4>Here is our coffee:</h4>
                {{ coffees }}
                
            </div>
        </div>
    </div>
{% endblock %}