{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid px-4 products-page">
        <div class="row gx-5">
            <div class="col-6 p-3 my-auto">
                <h3>Our Collection:</h3>
            </div>
            <div class="col-6 p-3 my-auto">
                <div class="container-fluid">
                    <form class="d-flex" method="GET" action="{% url 'products' %}">
                      <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="product-container">
                <div class="row mb-2 mt-1"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            
                                <div class="card" style="width: 18rem;">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="...">
                                        </a>
                                    {% endif %}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="card-title">{{ product.name }}</h5>
                                            </div>
                                            <div class="col-12">
                                                <h6 class="">{{ product.artist }}</h6>
                                            </div>
                                            <div class="col-6">
                                                <p>{{ product.genre }}</p>
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <strong>€{{ product.price }}</strong>
                                            </div>
                                      </div>
                                    </div>
                                  </div>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}