{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="detail-wrapper">
        <div class="container-fluid products-page">
            <div class="row gx-5 padding">
                <div class="col-12 col-md-6">
                    <div>
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="" class="product-image">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="" class="product-image">
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h2><strong>{{ product.name }}</strong></h2>
                    <h4>{{ product.artist }}<br></h4>
                    <h5>
                        <a href="">{{ product.genre }}</a>|{{ product.sub_genre }}
                    </h5>
                    <div class="col-12 col-md-6">
                        <h4><strong>€{{ product.price }}</strong></h4>
                    </div>
                    <div class="col-12">
                        <p>
                        <form action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="quantity" value="1" data-item_id="{{ product.id }}" class="btn btn-dark"><i class="fas fa-shopping-basket"></i> Add to Cart </button>
                            <button type="button" class="btn btn-light"><i class="far fa-heart"></i> Add to Wishlist</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                        </p>
                    </div>
                    <div class="col-12">
                        
                        {% if product.in_stock == True %}
                                <p><span class="in-stock"><i class="fas fa-dot-circle"></i> In Stock </span>|<span class="product-shipping"> Standard shipping 3-5 days</span></p>
                            {% else %}
                                <p><span class="out-stock"><i class="far fa-dot-circle"></i> Out of Stock </span>|<span class="product-shipping"> Ships in 1-2 weeks</span></p>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <small class="ml-3">
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row padding">
                <div class="col-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <strong>Product Description</strong>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" >
                            <div class="accordion-body">
                                {{ product.description }}
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>Product Details</strong>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                            <div class="accordion-body">
                                {% if product.product_id %}
                                    <span><strong>Product ID:</strong> {{ product.product_id }}</span>
                                    {% else %}
                                {% endif %}
                                <br>
                                {% if product.category %}
                                    <span><strong>Product Type:</strong> {{ product.category }}</span>
                                    {% else %}
                                {% endif %}
                                <br>
                                {% if product.condition %}
                                    <span><strong>Condition:</strong> {{ product.condition }}</span>
                                    {% else %}
                                {% endif %}
                                <br>
                                {% if product.name %}
                                    <span><strong>Name:</strong> {{ product.name }}</span>
                                    {% else %}
                                {% endif %}
                                <br>
                                {% if product.artist %}
                                    <span><strong>Artist:</strong> {{ product.artist }}</span>
                                    {% else %}
                                {% endif %}
                                <br>
                                {% if product.sub_genre %}
                                    <span><strong>Sub Genre:</strong> {{ product.sub_genre }}</span>
                                    {% else %}
                                {% endif %}
                                <br>
                                {% if product.genre %}
                                    <span><strong>Genre:</strong> {{ product.genre }}</span>
                                    {% else %}
                                {% endif %}
                                <br>
                                {% if product.year %}
                                    <span><strong>Release:</strong> {{ product.year }}</span>
                                    {% else %}
                                {% endif %}
                                <br>
                                {% if product.in_stock == True %}
                                    <span class="in-stock"><i class="fas fa-dot-circle"></i> In Stock </span>|<span class="product-shipping"> Standard shipping 3-5 days</span>
                                {% else %}
                                    <span class="out-stock"><i class="far fa-dot-circle"></i> Out of Stock </span>|<span class="product-shipping"> Ships in 1-2 weeks</span>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}